#tree {
  margin: auto;
  width: 90vw;
  height: 90vh;
}

.tree-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  vertical-align: middle;
  width: 100%;
}

.tree-node {
  --w: calc(min(10vh, 10vw));
  border-radius: 100%;
  border: 1px solid black;
  width: var(--w);
  height: var(--w);
}

.tree-row + .tree-row {
  margin-top: 5vh;
}

#tree-links {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}

line {
  stroke: black;
}

.btn {
  border-radius: 2px;
  border: none;
  box-shadow: 1px 1px 1px 1px grey;
}

.btn-success {
  background-color: lime;
}

.row {
  display: flex;
  justify-content: space-evenly;
}

.apparizione {
  --time: 1s;
  --color: lime;
  animation-name: appear;
  animation-duration: var(--time);
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    background-color: var(--color);
  }
}

.traslazione {
  --x1: 0;
  --y1: 0;
  --x2: 0;
  --y2: 0;
  --time: 1s;
  --color: red;
  background-color: var(--color);
  position: absolute;
  animation: trasla var(--time);
}

@keyframes trasla {
  from {
    left: var(--x1);
    top: var(--y1);
  }
  to {
    left: var(--x2);
    top: var(--y2);
  }
}

/*
.animated {
  position: absolute;
  top: 50vh;
  left: -100px;
  text-align: center;
  animation-name: prova;
  animation-duration: 4s;
  animation-timing-function: linear;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

@keyframes prova {
  100% {
    left: 50vw;
    transform: rotate(360deg);
  }
}*/
