.tree {
  margin: auto;
  width: 90vw;
  height: 90vh;
}

.tree-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  vertical-align: middle;
  width: 100%;
}

.tree-node {
  border-radius: 100%;
  border: 1px solid black;
  width: 10vw;
  height: 10vw;
}

.tree-row + .tree-row {
  margin-top: 5vh;
}

.lines {
}

.left-child-line {
  position: relative;
  border: 1px solid black;
  transform: rotate(-45deg);
  left: -75px;
}

.right-child-line {
  position: relative;
  border: 1px solid black;
  transform: rotate(45deg);
}

/*
.animated {
  position: absolute;
  top: 50vh;
  left: -100px;
  text-align: center;
  animation-name: prova;
  animation-duration: 4s;
  animation-timing-function: linear;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

@keyframes prova {
  100% {
    left: 50vw;
    transform: rotate(360deg);
  }
}*/
